<div class="tileDiv">
  <h1 style="text-align: center; font-size: 50px;">Welcome to my TileMap Generator!</h1>
</div>

<div>
  <mat-card-content>
    <div style="float: left">
      <ul>
        <li><a href="showTile">Tile</a></li>
        <li><a href="showTileset">Tileset</a></li>
        <li><a href="showMap">Map</a></li>
      </ul>
      <mat-list>
        <mat-nav-list>
          <li><a href="showTile">Tile</a></li>
          <mat-divider></mat-divider>
          <li><a href="showTileset">Tileset</a></li>
          <mat-divider></mat-divider>
          <li><a href="showMap">Map</a></li>
        </mat-nav-list>
      </mat-list>

    </div>
  </mat-card-content>
  <div style="float: left; ">
    <router-outlet></router-outlet>
  </div>
</div>

