<div class="tileDiv">
  <h1 style="text-align: center; font-size: 50px;">Welcome to my TileMap Generator!</h1>
</div>

<div class="mat-app-background">
  <mat-card style="float: left;margin-right: 20px;">
    <mat-card-title>Nav</mat-card-title>
    <mat-card-content>
        <mat-list>
          <mat-nav-list>
            <a mat-list-item href="showTile">Tile</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="showTileset">Tileset</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="showMap">Map</a>
          </mat-nav-list>
        </mat-list>

    </mat-card-content>

  </mat-card>
  <div style="float: left; ">
    <router-outlet></router-outlet>
  </div>
</div>

